<h1>New parts from file</h1>

<%= form_for :upload, :url => {:action => "upload" }, :html => {:multipart => true} do |f| %>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>
<%= link_to 'Back', parts_path %>
